name: Build Lens

on:
  workflow_dispatch:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: macos-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3.0.2
      - name: Export version to variable
        run: |
          export LENS_VERSION=$(cat version)
          echo "LENS_VERSION=$LENS_VERSION" >> $GITHUB_ENV
      - uses: actions/setup-node@v3
        with:
          node-version: 16.15.0
      - name: Build Lens
        run: |
          git clone https://github.com/lensapp/lens.git
          cd lens
          git checkout v${{ env.LENS_VERSION }}
          make build
          mv dist/OpenLens-${{ env.LENS_VERSION }}-latest.*.zip dist/OpenLens-${{ env.LENS_VERSION }}.zip
          ls -la dist
      - name: Release
        uses: softprops/action-gh-release@v0.1.14
        with:
          tag_name: v${{ env.LENS_VERSION }}
          files: lens/dist/OpenLens-${{ env.LENS_VERSION }}.zip
      - name: Update cask
        run: |
          sed -E 's/version \"([[:digit:]]+(:?\.[[:digit:]]+)+)\"/version \"'$(cat version)'\"/' Casks/openlens.rb > lens.rb
          mv lens.rb Casks/openlens.rb
          sed -E 's/sha256 \".*\"/sha256 \"'$(shasum -a 256 lens/dist/OpenLens-${{ env.LENS_VERSION }}.zip | awk '{print $1}')'\"/' Casks/openlens.rb > lens.rb
          mv lens.rb Casks/openlens.rb
      - name: Add & Commit Cask
        uses: EndBug/add-and-commit@v9.0.0
        with:
          add: 'Casks'
          message: 'openlens ${{ env.LENS_VERSION }}'

